services:
  frontend:   # Name of the service
    # Build the docker image from the Dockerfile.frontend thats in the cirrostrats-frontend directory
    build:
      context: ./cirrostrats-frontend     # Defines working directory from which the Docker will read files to build image. Docker can only access files within the context directory.
      dockerfile: Dockerfile.frontend
      # THIS IS THE KEY: It tells Docker which stage to build
      # target: ${BUILD_TARGET:-development} 
    networks:     # Connect the frontend service to the base network that all containers will share.
      - base-network
      # - observability

  backend:
    build:
    # Build the docker image from the Dockerfile.backend in the cirrostrats-backend directory
      context: ./cirrostrats-backend
      dockerfile: Dockerfile.backend
    networks:
      - base-network
      # - observability
    labels:
      - "traefik.enable=true"
      - "prometheus.scrape=true"
      - "prometheus.port=8080"  # Your metrics port
      - "prometheus.path=/metrics"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    depends_on:
      - frontend
      # - backend
    networks:
      - base-network
      # - observability
  
networks:
  # observability:
  #   external: true
  base-network:
    driver: bridge

volumes:
  node_modules:

