services:
  frontend:   # Name of the service
    # Build the docker image from the Dockerfile.frontend thats in the cirrostrats-frontend directory
    build:
      args:
        NODE_ENV: production

    expose:
      - "80"
    # networks:     # Connect the frontend service to the base network that all containers will share.
    #   - base-network
    #   # - observability

  backend:
    environment:
      ENV: production

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    ports:
      # Format is "HOST_PORT:CONTAINER_PORT"
      - "80:80"
    # volumes:    # If working on nginx and want changes to be reflected in the container, use the volumes
    #   - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    # TODO: Check what the difference is between the above^^ and this - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - base-network
      # - observability

# networks:
#   # observability:
#   #   external: true
#   base-network:
#     driver: bridge

# volumes:
#   node_modules:

